*{
    box-sizing: border-box;
    margin: 0;
    
    font-family: 'Asap', sans-serif;
}

body{
    background-color: #1F1F1F;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.082);
    padding: 20px 0;
    position: fixed;
    top: 0;
    background-color: #1F1F1F;
    z-index: 999;
}

.logo img{
    width: 100px;
    margin-bottom: 20px;
}

.menu ul{
    display: flex;
    gap: 20px;
}

.menu ul{
    margin: 0;
    padding: 0;
}

.menu ul a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.menu ul a li{
    width: 100px;
    text-align: center;
    list-style-type: none;
    background-color: white;
    padding: 2px 4px;
    border-radius: 5px;
}

.hero{
    margin: 20px 0;
    padding: 20px 0;
    margin-top: 220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 100%);
    border-radius: 10px;
}

.imgHero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.hero .imgHero h1{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
}

.hero .imgHero img{
    width: 90%;
    margin-bottom: 20px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    padding: 20px 0;
    flex-direction: column;
}

.about h2{
    text-align: center;
    margin: 20px;
    color: white;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.about h2 span{
    font-size: 30px;
    color: #FF5722;
}

.about p{
    color: white;
    margin-bottom: 20px;
    padding: 0 30px;
}

.channel{
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 20px;
}

a li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.channel a li img{
    background-color: white;
    padding: 2px 2px;
    border-radius: 5px;;
    width: 42px;
}

.experienceWork{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.card1{
    background-color: #2ECC71;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 0 10px;
    color: #1E1E1E;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid #FF5722;
    margin: 0 20px;
    padding: 0 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card1 img{
    width: 75px;
}

.card2 img{
    width: 75px;
}

.text{
    width: 200px;
}

.text h4{
    margin: 5px 0;
}

.text h5{
    margin-bottom: 5px;
} 

.aboutWork{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.container1__aboutWork{
    border-left: 3px solid #FF5722;
    padding: 10px 15px;
    margin-bottom: 20px;
    background-color: #373737;
    border-radius: 10px;
    width: 315px;
}

.container1__aboutWork h2{
    color: white;
    padding: 0 15px;
    margin-bottom: 30px;
    background-color: none;
}

.cardWork{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    justify-content: flex-start;
}

.imgWork{
    width: 30px;
    margin: 0 20px;
}

.textWork{
    font-size: 18px;
    color: white;
}

.container2__aboutWork{
    width: 315px;
    display: flex;
    flex-direction: column;
    border-left: 3px solid #2ecc71;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.container2__aboutWork h2{
    color: #2ecc71;
    padding: 0 15px;
    margin-bottom: 30px;
    background-color: none;
}

.container2__aboutWork .p1{
    color: white;
    margin-bottom: 10px;
    background-color: none;
}

.container2__aboutWork .p2{
    color: #807e7e;
    margin-bottom: 30px;
    font-size: 15px;
    background-color: none;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frontend{
    background-color: #FF5722;
    width: 80%;
    margin-bottom: 20px;
    padding: 20px 20px;
    border-radius: 10px;
}

.frontend img{
    width: 75px;
}

.frontend h3{
    margin-bottom: 10px;
}

.frontend p{
    margin-bottom: 10px;
    font-weight: bold;
}

.frontend a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

.marketing{
    border: 1px solid #FF5722;
    width: 80%;
    margin-bottom: 20px;
    padding: 20px 20px;
    border-radius: 10px;
}

.marketing img{
    width: 75px;
}

.marketing h3{
    margin-bottom: 10px;
    color: white;
}

.marketing p{
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

.marketing a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.theLab{
    padding: 20px 20px;
    width: 90%;
}

.theLab h3{
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
}

.theLab .container__theLab{
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-x: scroll;
    gap: 5px;
    margin-top: 20px;    
}

.container__theLab img{
    height: 200px;
}

.theLab button{
    margin-top: 15px;
    color: black;
    background-color: #2ECC71;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 10px;
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.skills__form{
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills{
    width: 90%;
    margin-top: 50px;
}

.skills h3{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.details{
    width: 90%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
}

.bar{
    position: relative;
    border: 2px solid #2ECC71;
    border-radius: 20px;
    margin-bottom: 20px;
}

.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #2ECC71;
}

#html-bar{
    animation: html-fill 2s forwards;
}

#css-bar{
    animation: js-fill 2s forwards;
}

#js-bar{
    animation: js-fill 2s forwards;
}

#rjs-bar{
    animation: js-fill 2s forwards;
}

#dm-bar{
    animation: dm-fill 2s forwards;
}

#wm-bar{
    animation: wm-fill 2s forwards;
}

#em-bar{
    animation: wm-fill 2s forwards;
}

@keyframes html-fill{
    100%{
        width: 90%;
    }
}

@keyframes css-fill{
    100%{
        width: 90%;
    }
}

@keyframes js-fill{
    100%{
        width: 80%;
    }
}

@keyframes rjs-fill{
    100%{
        width: 80%;
    }
}

@keyframes dm-fill{
    100%{
        width: 80%;
    }
}

@keyframes wm-fill{
    100%{
        width: 70%;
    }
}

@keyframes em-fill{
    100%{
        width: 70%;
    }
}

form{
    width: 90%;
    display: flex;
    padding-top: 20px;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    color: white;
}

form h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

label{
    padding-bottom: 10px;
}

input{
    margin-bottom: 25px;
    padding: 5px 0;
    background-color: #1E1E1E;
    outline: none;
    border: none;
    border-bottom: 1px solid #FF5722;
}

input::placeholder{
    color: white;
    padding-left: 5px;
}

input[type=date]{
    color: white;
    padding-left: 5px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

textarea{
    margin-bottom: 15px;
    padding: 5px 0 0 5px;
}

input[type=submit]{
    font-size: 20px;
    width: 50px;
    margin: auto;
    color: white;
}

footer{
    width: 100;
    background-color: black;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.main{
    width: 100%;
    margin: auto;
    position: static;
}


@media screen and (min-width: 768px) {

    .navbar{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        border: 1px solid rgba(255, 255, 255, 0.082);
        padding: 20px 0;
        position: fixed;
        top: 0;
        background-color: #1F1F1F
    }

    .menu ul a li{
        width: 100px;
        text-align: center;
        list-style-type: none;
        background-color: white;
        padding: 10px 4px;
        border-radius: 5px;
    }

   .logo img{
        width: 100px;
        margin-bottom: 0px;
    }

    .hero{
        width: 1500px;
        margin: auto;
        margin-top: 220px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }

    .imgHero{
        display: flex;
    }

    .hero .imgHero img{
        width: 500px;
    }

    .about{
        display: block;
    }

    .about h2{
        text-align: left;
        margin-left: 30px;
    }

    .about .channel{
        margin-left: 30px;
    }

    .hero .imgHero h1{
        background-color: rgba(0, 0, 0, 0);
    }

    .experienceWork{
        display: flex;
        margin: 0;
        padding: 0;
        margin-left: 10px;
        flex-direction: row;
    }

    .work{
        width: 1500px;
        margin: auto;
    }

    .aboutWork{
        width: 1500px;
        justify-content: space-between;
        flex-direction: row;
        margin: 50px 0;
    }

    .container1__aboutWork{
        width: 700px;
    }

    .text{
        width: 300px;
    }

    .container2__aboutWork{
        width: 700px;
    }
    
    .project{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-bottom: 100px;
    }

    .frontend{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        height: 500px;
        background-color: #FF5722;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .frontend img{
        width: 150px;
        margin-bottom: 30px;
    }

    .frontend h3{
        font-size: 30px;
    }

    .frontend p{
        font-size: 20px;
        margin-bottom: 30px;
    }

    .frontend a{
        font-size: 20px;
        margin-bottom: 30px;
    }

    .marketing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 250px;
        height: 400px;
        background-color: #373737;
        border: none;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .marketing img{
        width: 100px;
        margin-bottom: 30px;
    }

    .marketing h3{
        font-size: 20px;
    }

    .marketing p{
        font-size: 20px;
        margin-bottom: 30px;
    }

    .marketing a{
        font-size: 15px;
        margin-bottom: 30px;
    }

    .theLab{
        border-bottom: 1px solid #2ECC71;
        padding: 20px 20px;
        width: 700px;
    }
    
    .theLab h3{
        margin-bottom: 20px;
        color: white;
        font-size: 30px;
    }
    
    .container__theLab{
        display: flex;
        flex-wrap: wrap;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .skills__form{
        width: 1500px;
        margin: auto;
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        justify-content: space-between;
        align-items: flex-start;
    }

    .skills{
        width: 700px;
        margin-top: 0px;
    }

    .skills h3{
        color: white;
        font-size: 30px;
        margin-bottom: 40px;
    }

    .details{
        width: 100%;
        display: flex;  
        justify-content: space-between;
        margin-bottom: 10px;
        color: white;
        font-size: 20px;
    }

    .bar{
        position: relative;
        border: 2px solid #2ECC71;
        border-radius: 20px;
        
        margin-bottom: 20px;
    }

    .bar div{
        position: relative;
        width: 0;
        height: 9px;
        border-radius: 10px;
        background-color: #2ECC71;
    }

    #html-bar{
        animation: html-fill 2s forwards;
    }

    #css-bar{
        animation: js-fill 2s forwards;
    }

    #js-bar{
        animation: js-fill 2s forwards;
    }

    #rjs-bar{
        animation: js-fill 2s forwards;
    }

    #dm-bar{
        animation: dm-fill 2s forwards;
    }

    #wm-bar{
        animation: wm-fill 2s forwards;
    }

    #em-bar{
        animation: wm-fill 2s forwards;
    }

    @keyframes html-fill{
        100%{
            width: 90%;
        }
    }
    
    @keyframes css-fill{
        100%{
            width: 90%;
        }
    }

    @keyframes js-fill{
        100%{
            width: 80%;
        }
    }

    @keyframes rjs-fill{
        100%{
            width: 80%;
        }
    }

    @keyframes dm-fill{
        100%{
            width: 80%;
        }
    }

    @keyframes wm-fill{
        100%{
            width: 70%;
        }
    }

    @keyframes em-fill{
        100%{
            width: 70%;
        }
    }

    form{
        width: 700px;
        margin: auto;
        margin-bottom: 50px;
        padding: 0;
        margin: 0;
    }

    label{
        font-size: 18px;
        margin-top: 15px;
    }

    input{
        background-color: #1E1E1E;
        border: 0px;
        border-bottom: 1px solid #FF5722;
        outline-style: none;
        color: white;
    }

    input::placeholder{
        color: white;
        padding-left: 5px;
    }

    input[type=date]{
        padding-left: 5px;
    }

    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    textarea{
        padding: 5px 0 0 5px;
    }

   input[type=submit]{
        font-size: 20px;
        width: 50px;
        margin: auto;
    }

    input[type=submit]:hover{
        background-color:#FF5722;
        cursor: pointer;
        border-radius: 10px;
        padding: 10px 10px;
        text-align: center;
        width: 60px;
    }

}